/node_modules/.cache
/public/hot
/public/storage
/node_modules/.cache/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.buildpath
.project
/.settings
access_log
error_log
